<a href="https://colab.research.google.com/github/Karthik-varma-I/Python-basics/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

`Good morning, wish you all the best,.All the 3 assignment has been included here only`

# Part ONe

## 1. Create a function that sum only the float number from a given hetrogenous list

In [ ]:
l=[10,20.5,30.3,"abc",21,'cde',35.87]
def sum_float(l):
  sum=0
  for i in l:
    if type(i) is float:
      sum+=i
  return sum
print(sum_float(l))

86.66999999999999

In [ ]:
# reverse the list using the loop
l=[10,20.5,30.3,"abc",21,'cde',35.87]
n=len(l)
for i in range(n//2):
  l[i],l[n-i-1]=l[n-i-1],l[i]
print(l)

[35.87, 'cde', 21, 'abc', 30.3, 20.5, 10]

## 2. Count the total number of digit using the loop

In [ ]:
num=102745
dig=0
while num>0:
  num//=10
  dig+=1
print("No of digits :",dig)

No of digits : 6

## 3. Display this
5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [ ]:
def disp(n):
  for i in range(n):
    for j in range(n-i,0,-1):
      print(j,end=" ")
    print()
disp(5)

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

## 4. Display this

In [ ]:
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
def disp(n):
  for i in range(1,2*n):
    for j in range(n-abs(n-i)):
      print("*",end=" ")
    print()
disp(5)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

## 5. Write function that generate multiplication table upto a given range in Python

In [ ]:
def multi(num,ran):
  for i in range(ran+1):
    print(i,"*",num,"=",i*num)
multi(5,10)

0 * 5 = 0
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [ ]:
# what are the difference between the list comprehension and loop??

In [ ]:
# both list comprehension and loops are used for iteration purpose.
# for simple iteratons list comprehension is flexible but at complex situations loops are recommended to use
#1 list comprehension
even_list=[i for i in range(10) if i%2==0]
print(even_list)
#using loops
l1=[]
for i in range(10):
  if i%2==0:
    l1.append(i)
print(l1)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

# Part two

## 6. Write a python program for the palindrome checker using the loop

In [ ]:
def checker(num):
  temp=num
  val=0
  while temp>0:
    val=val*10+(temp%10)
    temp//=10
  if val==num:
    print("It is a palindrome")
  else:
    print("It is not a palindrome")
checker(121)
checker(1231)
checker(123321)

It is a palindrome
It is not a palindrome
It is a palindrome

## 7. Factorial Calculation
Write a program that calculates the factorial of a given number using a loop. The user should input the number, and the program should display its factorial.

In [ ]:
def fact(num):
  f=1
  for i in range(1,num+1):
    f*=i
  return f
num=int(input("Enter value :"))
print(fact(num))

Enter value :10
3628800

## 8. Binary to Decimal Converter
Create a program that converts a binary number (entered by the user) to its decimal equivalent. The user should input the binary number as a string, and the program should output its decimal equivalent.

In [ ]:
num=input("enter binary number :")
def deci(num):
  print(int(num,2))
deci(num)

enter binary number :111011
59

## 10. Matrix Transposition:
Create a program that transposes a given matrix. The user should input the matrix as a list of lists, and the program should output the transposed matrix. For example, if the input is:

In [ ]:
l=[]
r,c=map(int,input().split())
for i in range(r):
  l1=list(map(int,input().split()))
  l.append(l1)
print("original matrix:",l)
t=[]
for i in range(c):
  l1=[]
  for j in range(r):
    l1.append(l[j][i])
  t.append(l1)
print("Transpose matrix :",t)

3 2
1 2
3 4
5 6
original matrix: [[1, 2], [3, 4], [5, 6]]
Transpose matrix : [[1, 3, 5], [2, 4, 6]]

1 2`Feel free to tackle these exercises and let me know if you have any questions or need further explanations!`

# Part Three File Handling
Calm and do it slowly and in github also try to upload the files possible

## 11. program to open the text file and edit it

In [6]:
f=open("/content/sample_data/abc.txt","r")
print(f.read())
f.close()
f=open("/content/sample_data/abc.txt","a")
f.write("hello world.........")
f.close()
f=open("/content/sample_data/abc.txt","r")
print(f.read())
f.close()

hii how are you.
hii how are you.hello world.........

## 12. Program to list all the file in the directory

In [8]:
import os
file_list = os.listdir("/content/sample_data")
print("Files in the directory:")
print(file_list)

Files in the directory:
['README.md', 'anscombe.json', 'abc.txt', 'california_housing_train.csv', 'mnist_test.csv', 'mnist_train_small.csv', 'california_housing_test.csv']

## 13. program to find the name of list only the text file and only the image file specifically

In [12]:
text_files=[]
csv_files=[]
for i in file_list:
  if 'txt' in i:
    text_files.append(i)
  elif 'csv' in i:
    csv_files.append(i)
print("Text files list :",text_files)
print("csv files list :",csv_files)

Text files list : ['abc.txt']
csv files list : ['california_housing_train.csv', 'mnist_test.csv', 'mnist_train_small.csv', 'california_housing_test.csv']

## 14. Program to copy the the file and also the bundle of file to the specific location

In [15]:
file1=open("/content/sample_data/abc.txt","r")
file2=open("/content/sample_data/new_file.txt","w")
for i in file1.read():
  file2.write(i)
file1.close()
file2.close()
file3=open("/content/sample_data/new_file.txt","r")
print(file3.read())
file3.close()

hii how are you.hello world.........

## 15. Program to delete the specific file and folder

In [17]:
print(file_list)
os.remove("/content/sample_data/new_file.txt")
print(os.listdir())

['README.md', 'anscombe.json', 'abc.txt', 'california_housing_train.csv', 'mnist_test.csv', 'mnist_train_small.csv', 'california_housing_test.csv']
['.config', 'sample_data']